# Build directories
bin/
obj/

# User-specific files
*.user
*.suo
*.rsuser
*.userosscache
*.sln.docstates

# Logs
*.log
logs/

# IDE-specific directories
.vscode/
.idea/
.vs/

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.swp
*.tmp
*.temp